@model IEnumerable<DatabaseLayer.JobApplyTable>

@{
    ViewBag.Title = "MyJobs";
}


<script src="~/Content/assets/js/jquery-3.3.1.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

@section Scripts {

    @if (TempData["Cancel"] != null)
    {
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                Swal.fire({
                    title: 'Warning !',
                    text: '@TempData["Cancel"]',
                    icon: 'warning',
                    confirmButtonText: 'OK',
                });
            });
        </script>
    }
}




<h2 style="font-weight:bold; color:indigo" class="text-center">My Applied Jobs</h2>

<div class="container">
    <table class="table table-hover table-bordered table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PostJobTable.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostJobTable.CompanyTable.CompanyName)
            </th>
            <th>
                Job Apply Date & Time
            </th>
            <th>
                Current Job Status
            </th>
            <th>
                Job Status Update Time
            </th>
            <th>
                Job Status Update Reason
            </th>
            <th>
                OPERATIONS
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PostJobTable.JobTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostJobTable.CompanyTable.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobApplyDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobApplyStatusTable.JobApplyStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobApplyStatusUpdateDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobApplyStatusUpdateReason)
                </td>
                <td>
                    @Html.ActionLink("Details", "MyApplicationForm", "MyDashboard", new { id = item.EmployeeID }, new { @class = "genric-btn primary" })
                    @Html.ActionLink("Delete", "DeleteMyJob", "ApplyJob", new { id = item.JobApplyID }, new { @class = "genric-btn danger" })
                </td>
            </tr>
        }

    </table>
</div>
