@model WebApplication1.Models.MyDashboardMV
@{
    ViewBag.Title = "MyAppliedJobs";
}

<h2 style="font-weight:bold; color:indigo" class="text-center">My Dashboard</h2>



<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-12 col-lg-12 col-md-12">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-header">
                    <h3 style="font-weight:bold; color:indigo">Personal Information</h3>
                </div>
                <div class="card-body p-0 m-2">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-md-4 pt-4">
                            <div class="container">
                                <h5>Candidate Name :</h5>
                                @Model.Employee.EmployeeName
                            </div>
                        </div>
                        <div class="col-md-4 pt-4">
                            <div class="container">
                                <h5>Father's' Name :</h5>
                                @Model.Employee.FatherName
                            </div>
                        </div>
                        <div class="col-md-4 pt-4">
                            <div class="container">
                                <h5>Date of Birth :</h5>
                                @Model.Employee.DOB
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 pt-4">
                            <div class="container">
                                <h5>Candidate Email Address :</h5>
                                @Model.Employee.EmailAddress
                            </div>
                        </div>
                        <div class="col-md-4 pt-4">
                            <div class="container">
                                <h5>CNIC number :</h5>
                                @Model.Employee.CNIC
                            </div>
                        </div>
                        <div class="col-md-4 pt-4">
                            <div class="container">
                                <h5>FNIC number :</h5>
                                @Model.Employee.FNIC
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 pt-4 pb-4">
                            <div class="container">
                                <h5>Candidate Gender :</h5>
                                @Model.Employee.Gender
                            </div>
                        </div>
                        <div class="col-md-4 pt-4 pb-4">
                            <div class="container">
                                <h5>Contact Number :</h5>
                                @Model.Employee.UserTable.ContactNo
                            </div>
                        </div>
                        <div class="col-md-4 pt-4 pb-4">
                            <div class="container">
                                <h5>User Type :</h5>
                                @Model.Employee.UserTable.UserTypeTable.UserType
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row justify-content-center">

        <div class="col-md-8">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-header">
                    <h3 style="font-weight:bold; color:indigo">Education</h3>
                </div>
                <div class="card-body p-0 m-2">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-md-6 pt-4">
                            <div class="container">
                                <h5>Institute Name :</h5>
                                @Model.Educations.InstituteName
                            </div>
                        </div>
                        <div class="col-md-6 pt-4">
                            <div class="container">
                                <h5>Degree Name :</h5>
                                @Model.Educations.Degree
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 pt-4">
                            <div class="container">
                                <h5>Stream Name :</h5>
                                @Model.Educations.TitleOfEducation
                            </div>
                        </div>
                        <div class="col-md-6 pt-4">
                            <div class="container">
                                <h5>City Name :</h5>
                                @Model.Educations.City
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 pt-4 pb-4">
                            <div class="container">
                                <h5>Education Start Year :</h5>
                                @Model.Educations.FromYear
                            </div>
                        </div>
                        <div class="col-md-6 pt-4 pb-4">
                            <div class="container">
                                <h5>Education End Year :</h5>
                                @Model.Educations.ToYear
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-4">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-header">
                    <h3 style="font-weight:bold; color:indigo">Work Experience</h3>
                </div>
                <div class="card-body p-0 m-2">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-md-12 pt-4">
                            <div class="container">
                                <h5>Previous Company Name :</h5>
                                @Model.WorkExperience.Company
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 pt-4">
                            <div class="container">
                                <h5>Previous Company Designation :</h5>
                                @Model.WorkExperience.Title
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 pt-4">
                            <div class="container">
                                <h5>Previous Company Tenure :</h5>
                                @Model.WorkExperience.FromYear - @Model.WorkExperience.ToYear
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
